@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
    background: rgb(159, 211, 199);
    background: linear-gradient(90deg, rgba(159, 211, 199, 1) 0%, rgba(20, 45, 76, 1) 100%);
}


::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: #142D4C;
    box-shadow: inset 0 0 5px #142D4C;

}

::-webkit-scrollbar-thumb {
    background: #9fd3c7;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .1);
}

.main-home {
    height: 100vh;
    overflow-x: hidden;
    padding: 0 12px;
}

.navbar {
    background-color: #142D4C;
    display: flex;
    max-width: 1200px;
    margin: 10px auto;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    border-radius: 8px;
    z-index: 9996;
    scroll-behavior: smooth;
}

.navbar .navbar-heading {
    font-size: 24px;
    color: #333;
    font-weight: 300;
    cursor: pointer;
}

.navbar .navbar-heading-link {
    text-decoration: none;
}

.navbar .navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stable {
    position: fixed;
    font-size: 32px;
    left: 10px;
    bottom: 5px;
    color: #142D4C;
    scroll-behavior: smooth;
}

.stable:hover {
    color: #fff;
}

.navbar .navbar-list-item {
    margin-left: 12px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
}

.navbar .navbar-list-item .navbar-list-item-link {
    text-decoration: none;
    color: #EEEEEE;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 0;
}

.navbar .navbar-list-item:hover {
    background-color: rgba(255, 255, 255, .1);
}

.navbar-list-item-link span:after {
    display: block;
    content: '';
    border-bottom: solid 3px #9FD3C7;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.navbar-list-item:hover span:after {
    transform: scaleX(1);
}

span.fromLeft:after {
    transform-origin: 0% 50%;
}

.hero-section {
    max-width: 1200px;
    margin: 10px auto;
    padding: 8px 24px;
    display: grid;
    grid-template-columns: 1fr;
    height: 90.44vh;
}

.error {
    display: flex;
    flex-direction: column;
    color: #fff;
    line-height: 2;
    text-align: center;
}

.error .error-404 {
    margin-top: 40px;
    font-size: 160px;
    letter-spacing: 20px;
    font-weight: 100;
    display: inline-block;
}

.error .error-not-found {
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 200;
}

.texts {
    margin-top: 80px;
}

.texts-header {
    color: #fff;
    font-size: 28px;
}

.texts-content {
    margin-top: 30px;
    font-size: 23px;
    color: #fff;
}

.hero-section-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-logo {
    font-size: 250px;
    color: #fff;
}

.hero-logo-mobile {
    display: none;
}

.projects-in-home-section {
    max-width: 1200px;
    margin: 10px auto;
    padding: 8px 24px;
}

.projects-description-header {
    color: #fff;
    font-weight: 300;
    font-size: 40px;
    margin: 0 0 20px 0;
    text-align: center;
}

.projects-description-text {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.projects-in-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    max-width: 1200px;
    margin: 10px auto;
    padding: 8px 24px;
}

.projects-in-home-card {
    min-height: 250px;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.project-header {
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    height: 25%;
}

.project-description {
    padding: 5px 10px;
    color: #fff;
    font-weight: 200;
    border-bottom: 1px solid #fff;
    height: 60%;
}

.project-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 33%;
    margin: 0 auto;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.project-link:hover {
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    border-color: transparent;
}

.project-link:active {
    transform: scale(.97);
}

.see-more-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    border: 1px solid #fff;
    width: 25%;
    margin: 24px auto;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-family: inherit;
    font-size: 18px;
}

.see-more-tag:hover {
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    border-color: transparent;
}

.see-more-tag:active {
    transform: scale(0.97);
}

.footer {
    max-width: 1200px;
    margin: 10px auto 0 auto;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fff;
}

.footer-text {
    padding: 10px;
    text-decoration: none;
    color: #fff;

}

.blog-in-home-section {
    max-width: 1200px;
    margin: 10px auto;
    padding: 8px 24px;
}

.blogs-description {
    margin-top: 60px;
}

.blogs-description-header {
    color: #fff;
    font-weight: 300;
    font-size: 40px;
    margin: 20px 0;
    text-align: center;
}

.blogs-description-text {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.recent-blogs {
    max-width: 1200px;
    margin: 10px auto;
    padding: 8px 24px;
}

.article-item {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 1.8;
}

.article-author {
    color: #9FD3C7;
    font-size: 16px;
    font-style: italic;
}

.blog-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
    padding: 12px 25px;
}

.blog-card:not(:last-of-type) {
    margin-bottom: 30px;
}

.blog-card-header {
    color: #142D4C;
    font-size: 36px;
    margin-bottom: 5px;
    font-weight: 200;
}

.blog-inline-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-card-date {
    color: #9FD3C7;
}

.blog-card-author {
    margin-right: 20px;
}

.blog-card-content {
    padding: 8px 0;
    color: #fff;
}

.read-more-helper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.blog-card-read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    min-width: 150px;
    width: 14%;
    margin: 10px 0;
    border-radius: 8px;
}

.blog-card-read-more:hover {
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
}

.blog-page-content {
    max-width: 1200px;
    margin: 10px auto;
    padding: 8px 24px;
    height: 83.8vh;
    line-height: 1.6;
}

.blog-page-header-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 30px;
}

.blog-page-header-group-h1 {
    color: #fff;
    font-weight: 300;
    font-size: 44px;
}

.blog-page-header-group-small {
    color: #fff;
    font-size: 14px;
    font-style: italic;
}

.blog-p {
    font-size: 14px;
}

.author-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 60px;
    margin-right: 40px;
}

.profiles-in-home {
    max-width: 1200px;
    margin: 10px auto;
    padding: 8px 24px;
}

.profiles-in-home-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profiles-in-home-group-h1 {
    color: #fff;
    font-weight: 300;
    font-size: 40px;
    margin: 20px 0;
    text-align: center;
}

.profiles-in-home-group-text {
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
}

.profiles-link-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profiles-link {
    padding: 8px 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    margin-right: 8px;
    border-right: 1px solid #fff;
}

.profiles-link:last-of-type {
    border-right: none;
    margin-right: 0;
}

.profiles-link:hover {
    transform: scale(1.1);
}

.contact-me-section {
    max-width: 1200px;
    margin: 10px auto;
    padding: 8px 24px;
    height: 83.44vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-me-section-header {
    color: #fff;
    font-weight: 300;
    font-size: 44px;
}

.contact-links-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-right: 1px solid #fff;
}

.contact-link:last-of-type {
    border-right: none;
}

.contact-link:hover {
    transform: scale(1.1);
}

.contact-link-span {
    display: none;
}

.contact-link-mail:hover .contact-link-span {
    display: inline-block;
    position: absolute;
    font-size: 14px;
    top: 52px;
    left: 15px;
    background-color: #fff;
    color: #000;
    padding: 8px 12px;
    cursor: auto;
}

.about-me-section {
    max-width: 1200px;
    margin: 10px auto;
    padding: 8px 24px;
    height: 78.44vh;
}

.about-me-section-header {
    color: #fff;
    font-weight: 300;
    font-size: 44px;
}

.about-paragraph {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.about-paragraph:first-of-type {
    margin-top: 20px;
}

.about-tags {
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}

.about-social {
    margin: 20px 0;
}

.about-social-link {
    font-size: 24px;
    padding: 8px 12px;
    color: #051a14;
    text-decoration: none;
}

.about-social-link:first-of-type {
    padding-left: 0;
}

.about-social-link:hover {
    color: rgba(0, 0, 0, .6);
}

.cv {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #fff;
    width: 200px;
    height: 35px;
    border-radius: 8px;
    margin: 0 auto;
}

.cv:hover {
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
}

.mobile-content-div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(159, 211, 199);
    background: linear-gradient(90deg, rgba(159, 211, 199, 1) 0%, rgba(20, 45, 76, 1) 100%);
    transition: all 0.4s ease-out;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 43;
}


.mobile-icon {
    display: none;
}

.mobile-adaptive {
    display: none;
}

.mobile-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.mobile-list-item {
    border-bottom: 1px solid #fff;
    text-align: center;
}

.mobile-list-item .mobile-list-item-link {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 14px 24px;
}

.mobile-list-item:hover {
    transform: scale(1.1);
}

.mobile-footer {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-footer-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.mobile-footer-link:hover {
    transform: scale(1.1);
}

@media (max-width: 1014px) {
    .navbar .navbar-list {
        display: none;
    }

    .big-size-span {
        display: none;
    }

    .mobile-adaptive {
        display: inline-block;
    }

    .mobile-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 24px;
        cursor: pointer;
    }

    .texts {
        margin-top: 20px;
    }

    .hero-section {
        grid-template-columns: 1fr;
    }

    .hero-logo-mobile {
        display: block;
        font-size: 250px;
        color: #fff;
    }

    .hero-logo {
        display: none;
    }

    .projects-in-home {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .blog-page-content {
        height: auto;
    }

    .about-me-section {
        height: auto;
    }

    .project-link {
        width: 60%;
    }

    .see-more-tag {
        width: 40%;
    }

    .about-social {
        display: flex;
        flex-direction: column;
    }

    .about-social-link {
        padding-left: 0;
        padding-right: 0;
    }

    .about-problem-solving {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 620px) {
    .profiles-link-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profiles-link {
        margin-bottom: 5px;
        text-align: center;
        width: 50%;
        border-right: none;
        border-bottom: 1px solid #fff;
    }

    .profiles-link:last-of-type {
        margin-bottom: 0;
        border-bottom: none;
    }

    .contact-me-section-header {
        font-size: 32px;
    }

    .contact-links-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .contact-link {
        width: 120%;
        margin-bottom: 5px;
        border-right: none;
        border-bottom: 1px solid #fff;
    }

    .contact-link:last-of-type {
        margin-bottom: 0;
        border-bottom: none;
    }
}

@media (max-width: 520px) {
    .hero-section {
        height: auto;
    }

    .profiles-link {

        width: 70%;
    }

    .projects-in-home {
        grid-template-columns: 1fr;
    }

    .see-more-tag {
        width: 60%;
    }
}

@media (max-width: 320px) {
    .hero-section {
        height: auto;
    }

    .projects-in-home {
        grid-template-columns: 1fr;
    }

    .project-link {
        width: 100%;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .see-more-tag {
        width: 100%;
    }
}